#homeMenuBackground{
    background-color: Lavender;
}

#homeMenu{
    color: #010E45;
    font-size: 150%;
}

#titulo{
    color: #010E45;
    font-size: 50px;
}

.texto{
    color: #010E45;
    text-indent: 30px;
}